html {
  scroll-snap-type: y mandatory;
}

.app_videos {
  /* margin: auto; */
  position: relative;
  height: 800px;
  overflow: scroll;
  width: 80%;
  max-width: 450px;
  scroll-snap-type: y mandatory;
  border-radius: 20px;
}

.main {
  /* background-color: black; */
  height: 100vh;
  display: grid;
  place-items: center;
}
