html {
  scroll-snap-type: y mandatory;
}

.app_videos {
  /* margin: auto; */
  position: relative;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 600px;
  width: 80%;
  max-width: 330px;
  border-radius: 20px;
  margin-bottom: 5%;
}

.feed {
  /* background-color: black; */
  height: 100vh;
  display: grid;
  place-items: center;
}
