html {
  scroll-snap-type: y mandatory;
}

.app_videos {
  /* background-color: black; */
  /* margin: auto; */
  position: relative;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 80%;
  width: 80%;
  /* max-width: 330px; */
  /* border-radius: 20px; */
  margin-bottom: 3%;
  margin-top: 3%;
  margin-left: 10%;
}

.feed {
  /* background-color: black; */
  height: 100vh;
  display: grid;
  place-items: left;
}
